@page
@model MyWebPage.Pages.CVSwedishModel
@{
}
@section Styles {
    <link rel="stylesheet" href="~/css/cv.css" asp-append-version="true" />
}

<main class="wrapper">
    <article class="container">
        <section class="presentation-container">
            <figure id="profilepicture">
                <img class="profile-image"
                     src="./images/Profilbildsmall.png"
                     alt="Profilbild på Jerome Gordon-Bock" />
            </figure>
            <div class="name-title">
                @* <a class="btn" href="./cvNewEng.html">English</a> *@
                <a class="btn"
                   href="./Downloadables/Jerome Gordon-Bock CV.pdf"
                   download="CV">
                    Nedladdningsbart CV (PDF)
                </a>
                <h1 class="cv-headings">Jerome</h1>
                <h1 class="cv-headings">Gordon-Bock</h1>
                <h2 class="cv-headings">Webbutvecklingsstudent</h2>
            </div>
        </section>
        <aside class="contactinfo skills">
            <div class="contact">
                <h3 class="cv-headings">KONTAKT</h3>
                <dl>
                    <dd>☎️ 0737-53 52 35</dd>
                    <dd>
                        📧 <a href="mailto:jerome.bock@gmail.com ">Privat mail</a>
                    </dd>
                    <dd>
                        📧
                        <a href="mailto:jerome.joris.roddy.gordonbock.webd25jon@edu.tucsweden.se">Tuc mail</a>
                    </dd>
                    <dd>
                        🔗
                        <a href="linkedin.com/in/jerome-gordon-bock/">LinkedIn</a>
                    </dd>
                    <dd>🔗 <a href="github.com/Bockarns">GitHub</a></dd>
                </dl>
            </div>
            <div class="break-line"></div>
            <div class="lang">
                <h3 class="cv-headings">SPRÅK</h3>
                <dl>
                    <dd>Svenska</dd>
                    <dd>Engelska</dd>
                    <dd>Tyska</dd>
                </dl>
            </div>
            <div class="break-line"></div>
            <div class="Skills">
                <h3 class="cv-headings">FÄRDIGHETER</h3>
                <dl>
                    <dt>Webb & programmering:</dt>
                    <dd>HTML5</dd>
                    <dd>CSS3</dd>
                    <dd>JavaScript (grundläggande)</dd>
                    <dd>C# (.NET grundläggande & fördjupning pågår)</dd>
                    <dd>Entity Framework Core (grundläggande & fördjupning pågår)</dd>
                    <dd>MS SQL (grundläggande & fördjupning pågår)</dd>
                    <dd>Grundläggande webbutveckling och responsiv design</dd>
                    <dt>Arbetssätt & metoder:</dt>
                    <dd>Agila utvecklingsmetoder med Scrum</dd>
                    <dd>Problemlösning och felsökning</dd>
                    <dd>Versionshantering (grundläggande & fördjupning pågår)</dd>
                    <dt>Verktyg:</dt>
                    <dd>Visual Studio</dd>
                    <dd>Visual Studio Code</dd>
                    <dd>Git/Github</dd>
                </dl>
            </div>
            <div class="break-line"></div>
            <div class="interests">
                <h3 class="cv-headings">INTRESSEN</h3>
                <dl>
                    <dd>Umgås med vänner och familj</dd>
                    <dd>Spela sällskapsspel och även tv/dataspel</dd>
                    <dd>
                        Gå promenader med familjen och upptäcka i naturen med mina barn.
                    </dd>
                </dl>
            </div>
        </aside>
        <section class="main-content">
            <div class="introduction">
                <h3 class="cv-headings">PROFIL</h3>
                <p>
                    Webbutvecklarstudent inom webbutveckling och .NET. Har stark
                    teknisk nyfikenhet och lång yrkeserfarenhet av självständigt och
                    lagarbete, problemlösning och kundkontakt. Studerar för närvarande
                    webbutveckling inom yrkeshögskolan och har goda grunder i HTML,
                    CSS, JavaScript och C# .NET. Har även arbetat med databaser (MS
                    SQL) och Entity Framework Core. Van att arbeta strukturerat, både
                    självständigt och i team, med agila arbetssätt. Söker LIA-plats
                    där jag kan bidra, lära mig mer i praktiken och utvecklas vidare
                    som webbutvecklare.
                </p>
            </div>
            <div class="break-line"></div>
            <div class="education">
                <h3 class="cv-headings">UTBILDNINGSHISTORIK</h3>
                <h4>
                    Webbutvecklare, Yrkeshögskola, 2025 augusti - Pågående <br />TUC
                    Sweden AB
                </h4>
                <ul>
                <dt>Avklarade kurser:</dt>
                <li>Kommunikation</li>
                <li>HTML och CSS med agila utvecklingsmetoder</li>
                <li>C# grundläggande (inkl. MS SQL & Entity Framework Core)</li>
                <li>JavaScript 1</li>
                <dt>Pågående kurs:</dt>
                <li>Fördjupad programmering i C# (.NET)</li>
                <dt>Kommande kurser:</dt>
                <li>Design och UX</li>
                <li>Publiceringsverktyg (CMS)</li>
                <li>JavaScript 2</li>
                </ul>
                <p>
                    Utbildningen omfattar webbutveckling med fokus på HTML, CSS,
                    JavaScript och C# .NET, databaser, agila arbetsmetoder samt LIA
                    perioder med tydlig koppling till arbetslivet.
                </p>
                <h4>Komvux, 2022 - 2023 <br />Nyköpings Campus</h4>
                <ul>
                    <li>Matematik 2a</li>
                    <li>Engelska 6</li>
                    <li>Programmering 1</li>
                    <li>Webbutveckling 1</li>
                </ul>
                <h4>
                    Handelsprogrammet, Gymnasieutbildning, 2001 - 2003 <br />Värmdö
                    Gymnasium
                </h4>
            </div>
            <div class="break-line"></div>
            <div class="experience"></div>
            <h3 class="cv-headings">ARBETSLIVSERFARENHET</h3>
            <h4>IT tekniker, Smartify AB, 2023 - Pågående</h4>
            <ul>
                <li>
                    Arbetar som IT Tekniker för hem och kontor, åker runt och hjälper
                    privatpersoner och företag med smarta hem och kontorslösningar.
                </li>
                <li>
                    Hjälper till med allt från att få internet att fungera till att få
                    igång datorer, tv, kanaler, konferenssystem, radio och mycket mer
                    att fungera även nyinstallation av dessa produkter.
                </li>
            </ul>
            <h4>Låstekniker, Certego AB, 2012 - 2022</h4>
            <ul>
                <li>
                    Självständigt arbete med service och installation av
                    säkerhetslösningar
                </li>
                <li>Kundkontakt och behovsanalys</li>
                <li>Arbete i team samt ansvar för planering och problemlösning</li>
            </ul>
            <h4>Tillverkning och butik, Bysmeden Lås AB, 2008 - 2012</h4>
            <ul>
                <li>
                    Butiksförsäljning av säkerhetsprodukter och lösningar,
                    ordermottagning
                </li>
                <li>Tillverkning samt lagerarbete med inköp.</li>
            </ul>
            <h4>Montör och butik, Audio Video AB, 2006 - 2008</h4>
            <ul>
                <li>Antenn- och Parabolmontage</li>
                <li>Butiksförsäljning, lager och orderhantering</li>
            </ul>
        </section>
    </article>
</main>