@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap");

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
    box-sizing: border-box;
    
}

/* Anpassa Bootstrap navbar */
.navbar .nav-link {
    color: #cf7500 !important;
    padding: 10px 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

    .navbar .nav-link:hover {
        background: rgba(247, 187, 109, 0.7);
        transform: scale(1.05);
        border-radius: 5px;
    }

.dropdown-menu {
    background: rgba(176, 219, 156, 0.9);
    font-size: 1.5rem;
}

.dropdown-item:hover {
    background: #79c776;
}

/*Footer*/
.bottom-container {
    background-color: #ffe0ac;
    position: relative;
    padding-top: 50px;
    padding-bottom: 10px;
}

footer {
    background-color: #ffe0ac;
    padding-top: 50px;
    padding-bottom: 10px;
    text-align: center;
}

.footer-link {
    
}

.footer-link {
    color: #66bfbf;
    margin: auto 20px auto 20px;
    font-size: 2.5rem;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
}

.copyright {
    font-size: 1.25rem;
    color: #66bfbf;
    padding: 20px 0;
}
.flaticon {
    background-color: #ffe0ac;
    position: relative;
    padding-top: 10px;
    padding-bottom: 20px;
}

.flaticon-attribute-prettycons {
    font-size: 10px;
    text-align: left;
    margin-left: 2%;
    color: #66bfbf;
}

.flaticon-attribute-freepik {
    font-size: 10px;
    text-align: left;
    margin-left: 2%;
    color: #66bfbf;
}

.bockarns {
    width: 75px;
    float: right;
    margin-right: 2%;
}

.wrapper {
    background-color: #1a7474;
}